*.kt linguist-detectable=true

*.xml linguist-detectable=true

*.gradle linguist-detectable=true
*.gradle.kts linguist-detectable=true

*.class linguist-generated=true
/app/build/** linguist-generated=true
/build/** linguist-generated=true
/.idea/** linguist-generated=true
**/build/generated/** linguist-generated=true
**/databinding/** linguist-generated=true
**/viewbinding/** linguist-generated=true
**/hilt_aggregated_deps/** linguist-generated=true
**/dagger/** linguist-generated=true

*.java linguist-generated=true