<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.NIT3213App">

        <activity
            android:name=".ui.details.DetailsActivity"
            android:exported="false"
            android:parentActivityName=".ui.dashboard.DashboardActivity" />

        <activity
            android:name=".ui.dashboard.DashboardActivity"
            android:exported="false"
            android:parentActivityName=".ui.login.LoginActivity" />

        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>